# OTEL Types - vanilla | new-relic
GH_VAR_OTEL_TYPE=vanilla

# Container/App
GH_VAR_CONTAINER_APP_NAME=obs-otel-collector-android
GH_VAR_AZURE_RESOURCE_GROUP=Phoenix_otel_terraform
GH_VAR_CONTAINER_APP_ENV=phoenix-otel-ace

# Azure Login Config
GH_VAR_AZURE_TENANT_ID=0e38730c-f9b8-4d07-9f70-46b518bde035
GH_VAR_AZURE_SUBSCRIPTION_ID=5eb414e5-8dd1-4192-9209-98c04543c66c

# Service Principal
GH_SECRET_AZURE_CLIENT_ID="d423cc6c-4604-444d-b810-26825840e283"
GH_SECRET_AZURE_CLIENT_SECRET=***
GH_SECRET_AZURE_CREDENTIALS='{"clientId": "d423cc6c-4604-444d-b810-26825840e283","clientSecret": "***","subscriptionId": "5eb414e5-8dd1-4192-9209-98c04543c66c","tenantId": "0e38730c-f9b8-4d07-9f70-46b518bde035"}'

# Azure Container Registry (ACR)
GH_VAR_CONTAINER_REGISTRY=A2bPhoenixDevAcr
GH_VAR_CONTAINER_REGISTRY_RESOURCE_GROUP=Phoenix_Containers
GH_VAR_CONTAINER_REGISTRY_LOGIN_SVR=a2bphoenixdevacr.azurecr.io
GH_SECRET_REGISTRY_USERNAME=A2bPhoenixDevAcr
GH_SECRET_REGISTRY_PASSWORD=***

# DNS
GH_VAR_DNS_RESOURCE_GROUP=Phoenix-Dev-DNS
GH_VAR_DNS_ZONE_NAME='phoenixdev.com.au'
GH_VAR_CUSTOM_DOMAIN_NAME='seq.phoenixdev.com.au'